<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   <extension
         id="Accounts.Main.application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="tsutsumi.accounts.rcp.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               id="OdsHelper.File"
               label="File"
               mnemonic="F">
            <command
                  commandId="Accounts.Main.OpenAddNewWindow"
                  icon="icons/add_obj.gif"
                  label="Add New Transaction..."
                  mnemonic="A"
                  style="push">
            </command>
            <command
                  commandId="Accounts.Main.OpenCcPaymentWindow"
                  icon="icons/creditcard%20visa.png"
                  label="Add Credit Card Payment..."
                  mnemonic="C"
                  style="push">
            </command>
         </menu>
         <menu
               id="OdsHelper.Edit"
               label="Edit"
               mnemonic="E">
            <command
                  commandId="Accounts.Main.BalanceCash"
                  icon="icons/cashicon.gif"
                  label="Balance Cash to Monthly"
                  style="push">
            </command>
         </menu>
         <menu
               id="OdsHelper.window"
               label="Window"
               mnemonic="W">
            <command
                  commandId="Accounts.Main.OpenReports"
                  icon="icons/monthly.gif"
                  label="Reports"
                  mnemonic="R"
                  style="push">
            </command>
            <command
                  commandId="Accounts.Main.OpenTransactions"
                  icon="icons/outline_co.gif"
                  label="Transactions"
                  mnemonic="T"
                  style="push">
            </command>
            <command
                  commandId="Accounts.Main.CloseWindows"
                  icon="icons/progress_error.gif"
                  label="Close All Windows"
                  mnemonic="C"
                  style="push">
            </command>
            <separator
                  name="Accounts.Main.separator1"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.perspectives.showPerspective"
                  icon="icons/configs.gif"
                  label="Summary"
                  mnemonic="D"
                  style="push">
               <parameter
                     name="org.eclipse.ui.perspectives.showPerspective.perspectiveId"
                     value="Summary.perspective">
               </parameter>
            </command>
            <command
                  commandId="org.eclipse.ui.perspectives.showPerspective"
                  icon="icons/waiting.gif"
                  label="Monthly Report"
                  mnemonic="M"
                  style="push">
               <parameter
                     name="org.eclipse.ui.perspectives.showPerspective.perspectiveId"
                     value="MonthlyReport.perspective">
               </parameter>
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
         <toolbar
               id="NpsPatchProgram.toolbar"
               label="File">
            <command
                  commandId="Accounts.Main.OpenAddNewWindow"
                  icon="icons/add_obj.gif"
                  label="Add New Transaction..."
                  style="push">
            </command>
            <command
                  commandId="Accounts.Main.OpenCcPaymentWindow"
                  icon="icons/creditcard%20visa.png"
                  label="Add Credit Card Payment..."
                  mnemonic="C"
                  style="push">
            </command>
         </toolbar>
         <toolbar
               id="NpsPatchProgram.toolbarEdit"
               label="Edit">
            <command
                  commandId="Accounts.Main.BalanceCash"
                  icon="icons/cashicon.gif"
                  label="Balance Cash to Monthly"
                  style="push">
            </command>
         </toolbar>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.trim.status?after=BEGIN_GROUP">
         <toolbar
               id="aiu.jp.nps.admi.tools.rcp.contributions.DatabaseStatusControl"
               label="Status Bar">
            <control
                  class="tsutsumi.accounts.rcp.contributions.StatusBarDbControl"
                  id="NpsPatchProgram.dbStatusControl">
            </control>
            <separator
                  name="NpsPatchProgram.separator1"
                  visible="true">
            </separator>
         </toolbar>
      </menuContribution>
   </extension>
   <extension
         id="Accounts.product"
         point="org.eclipse.core.runtime.products">
      <product
            application="Accounts.Main.application"
            name="Accounts">
         <property
               name="appName"
               value="Accounts">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
         <property
               name="aboutText"
               value="OdsHelper&#x0A;&#x0A;Tool created for JODS.&#x0A;Copyright November 2011&#x0A;&#x0A;&#x0A;&#x0A;.">
         </property>
         <property
               name="windowImages"
               value="icons/windwos/NpsIcon.gif">
         </property>
         <property
               name="aboutImage"
               value="icons/windwos/NpsIcon.gif">
         </property>
         <property
               name="startupProgressRect"
               value="10,175,380,15">
         </property>
         <property
               name="startupMessageRect"
               value="200,160,100,15">
         </property>
         <property
               name="startupForegroundColor"
               value="8080C0">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="tsutsumi.accounts.rcp.handlers.OpenAddNewWindowHandler"
            id="Accounts.Main.OpenAddNewWindow"
            name="Open Add New Window">
      </command>
      <command
            id="Accounts.Main.UpdateAmounts"
            name="UpdateAmounts">
         <commandParameter
               id="Accounts.Main.UpdateAmounts.MethodId"
               name="MethodId"
               optional="true">
         </commandParameter>
         <commandParameter
               id="Accounts.Main.UpdateAmounts.AccountId"
               name="AccountId"
               optional="true">
         </commandParameter>
         <commandParameter
               id="Accounts.Main.UpdateAmounts.CategoryId"
               name="CategoryId"
               optional="true">
         </commandParameter>
      </command>
      <command
            id="Accounts.Main.CloseWindows"
            name="Close All Windows">
      </command>
      <command
            id="Accounts.Main.OpenReports"
            name="Reports">
      </command>
      <command
            id="Accounts.Main.OpenTransactions"
            name="Transactions">
      </command>
      <command
            defaultHandler="tsutsumi.accounts.rcp.handlers.OpenCcPaymentWindowHandler"
            id="Accounts.Main.OpenCcPaymentWindow"
            name="CreditCard Payments">
      </command>
      <command
            id="Accounts.Main.BalanceCash"
            name="Balance Cash To Monthly">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="tsutsumi.accounts.rcp.handlers.UpdateAmountsHandler"
            commandId="Accounts.Main.UpdateAmounts">
      </handler>
      <handler
            class="tsutsumi.accounts.rcp.handlers.CloseWindowsHandler"
            commandId="Accounts.Main.CloseWindows">
      </handler>
      <handler
            class="tsutsumi.accounts.rcp.handlers.OpenReportWindowHandler"
            commandId="Accounts.Main.OpenReports">
      </handler>
      <handler
            class="tsutsumi.accounts.rcp.handlers.OpenTransactionsWindowHandler"
            commandId="Accounts.Main.OpenTransactions">
      </handler>
      <handler
            class="tsutsumi.accounts.rcp.handlers.BalanceCashAmountsHandler"
            commandId="Accounts.Main.BalanceCash">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="tsutsumi.accounts.rcp.perspectives.SummaryPerspective"
            icon="icons/configs.gif"
            id="Summary.perspective"
            name="Summary">
      </perspective>
      <perspective
            class="tsutsumi.accounts.rcp.perspectives.MonthlyReportPerspective"
            icon="icons/waiting.gif"
            id="MonthlyReport.perspective"
            name="MonthlyReport">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            class="tsutsumi.accounts.rcp.views.SummaryView"
            id="Accounts.Main.SummaryView"
            name="Summary"
            restorable="true">
      </view>
      <view
            allowMultiple="false"
            class="tsutsumi.accounts.rcp.views.FilterView"
            id="Accounts.Main.FilterView"
            name="Filter"
            restorable="true">
      </view>
      <view
            class="tsutsumi.accounts.rcp.views.MonthlyReportFilterView"
            id="Accounts.Main.MonthlyReportFilterView"
            name="MonthlyReportFilter"
            restorable="true">
      </view>
      <view
            class="tsutsumi.accounts.rcp.views.MonthlyReportView"
            id="Accounts.Main.MonthlyReportView"
            name="MonthlyReport"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="Summary.perspective">
         <view
               closeable="false"
               id="Accounts.Main.FilterView"
               minimized="false"
               moveable="false"
               relationship="top"
               relative="org.eclipse.ui.editorss"
               showTitle="false"
               standalone="true"
               visible="true">
         </view>
         <view
               closeable="false"
               id="Accounts.Main.SummaryView"
               minimized="false"
               moveable="false"
               relationship="bottom"
               relative="Accounts.Main.FilterView"
               showTitle="false"
               standalone="true"
               visible="true">
         </view>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="MonthlyReport.perspective">
         <view
               closeable="false"
               id="Accounts.Main.MonthlyReportFilterView"
               minimized="false"
               moveable="false"
               relationship="top"
               relative="org.eclipse.ui.editorss"
               showTitle="false"
               standalone="true"
               visible="true">
         </view>
         <view
               closeable="false"
               id="Accounts.Main.MonthlyReportView"
               minimized="false"
               moveable="false"
               relationship="bottom"
               relative="Accounts.Main.MonthlyReportFilterView"
               showTitle="false"
               standalone="true"
               visible="true">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="Accounts.Main.Accounts.Main.application"
            name="Accounts">
         <property
               name="aboutText"
               value="OdsHelper&#x0A;&#x0A;Tool created for JODS.&#x0A;Copyright November 2011&#x0A;&#x0A;&#x0A;&#x0A;.">
         </property>
         <property
               name="startupForegroundColor"
               value="8080C0">
         </property>
         <property
               name="startupProgressRect"
               value="10,175,380,15">
         </property>
         <property
               name="startupMessageRect"
               value="200,160,100,15">
         </property>
         <property
               name="appName"
               value="Accounts">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
      </product>
   </extension>

</plugin>
